<%- include("header.ejs") -%>

<style media="screen">
  #page-container{
    background-color:white !important;
  }
  .profile-input {
    margin-top: 15px;
    display: block;
    border-radius: 5px;
    border-width: 0px;
  }

  section button {
    margin-top: 1%;
  }

  section .dp {
    border-radius: 100%;
  }

  .black {
    color: black !important;
  }

  .set-position {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 0.8fr;
  }

  a:hover {
    cursor: pointer;
  }
</style>

<section style="background:white;color:black;padding:2%;">

  <div class="container">
    <div class="row">

      <div class="col-lg-6 col-md-6 col-lg-6 col-sm-6 col-12" align="center">
        <img class="dp" style="width:50%" src="https://api.adorable.io/avatars/285/<%=user.firstName%> <%=user.lastName%>.png" alt="">

      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-12 set-position" style="background:#ededed;color:black;padding:2%;border-radius:8px 8px;">

        <div class="">
          <button type="button" class="btn" name="button">
            <h5>Username : <strong><%=username%></strong></h5>
          </button>
        </div>
        <div class="">
          <button type="button" class="btn" name="button">
            <h5>First Name: <strong><%=user.firstName%></strong></h5>
          </button>
        </div>
        <div class="">
          <button type="button" class="btn" name="button">
            <h5>Last Name: <strong><%=user.lastName%></strong></h5>
          </button>
        </div>
        <div class="">
          <a href="/seewatchlist" style="width:100%"><button type="button" class="btn btn-warning" style="width:100%;" name="button">See Your Watchlist!</button></a>
        </div>

      </div>
    </div>
  </div>

</section>
<section style="background:#ededed;color:black;padding:2%;">

  <div class="container">

    <div class="row">

      <div class="col-lg-6 col-md-6 col-sm-6 col-12">
        <div class=" ">
          <p>Change First and Last name:</p>

          <div style="margin-bottom:9px;">
            <form class=" form-first-last" action="/changeSettings" method="post">
              <input class="form-control profile-input" type="text" name="firstName" placeholder="First Name" required>
              <input class="form-control profile-input" type="text" name="lastName" placeholder="Last Name">
              <button type="submit" class="btn btn-warning" name="button">Confirm</button>
            </form>
          </div>

        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-12">
        <p>Change Password:</p>
        <div style="margin-bottom:9px;">
          <form class="form-pass " action="/changePassword" method="post">
            <input class="form-control profile-input" type="password" name="newPass" placeholder="New Password" required>
            <input class="form-control profile-input" type="password" name="confirmed" placeholder="Confirm Password" required>
            <button type="submit" class="btn btn-warning" name="button">Confirm </button>
          </form>
        </div>
      </div>

    </div>

  </div>
</section>

<%- include("footer.ejs") -%>
