<%- include("header.ejs") -%>
<style media="screen">
  .profile-input {
    margin-top: 15px;
    display: block;
    width: 45%;
    border-radius: 5px;
    border-width: 0px;
  }

  section {
    margin-left: 2.4%;
  }

  section button {
    margin-top: 1%;
  }

  section .dp {
    border-radius: 100%;
  }

  .black {
    color: black !important;
  }

  .hide {
    display: none;
  }

  .set-position{
    display:grid;
    grid-template-rows:1fr 1fr 1fr 0.8fr;
  }

</style>

<section style="position:relative;top:30px;">

  <div class="container">
    <div class="row">

      <div class="col-lg-6 col-md-6 col-lg-6 col-sm-6 col-12" align="center">
        <img class="dp" style="width:50%" src="https://api.adorable.io/avatars/285/<%=user.firstName%> <%=user.lastName%>.png" alt="">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-12 set-position">

        <div class="">
          <h4>Username: <%=username%></h4>
        </div>
        <div class="">
          <h4>First Name: <%=user.firstName%></h4>
        </div>
        <div class="">
          <h4>Last Name: <%=user.lastName%></h4>
        </div>
        <div class="">
          <a href="/seewatchlist" class="btn black btn-warning" style="width:100%">See Your Watchlist!</a>
        </div>


      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-warning change-first-last dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Change First and Last name:
      </button>

      <form class="hide form-first-last" action="/changeSettings" method="post">
        <input class="profile-input" type="text" name="firstName" value="<%=user.firstName%>" placeholder="new first name.." required>
        <input class="profile-input" type="text" name="lastName" value="<%=user.lastName%>" placeholder="new last name..">
        <button type="submit" class="btn btn-warning" name="button">Change!</button>
      </form>
    </div>
    <hr>

    <div class="dropdown">
      <button class="btn btn-warning change-pass dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Change Password:
      </button>

      <form class="form-pass hide" action="/changePassword" method="post">
        <input class="profile-input" type="password" name="newPass" placeholder="new password" required>
        <input class="profile-input" type="password" name="confirmed" placeholder="confirm new password" required>
        <button type="submit" class="btn btn-warning" name="button">Confirm! </button>
      </form>

    </div>

  </div>


</section>
<hr>
<hr>
<script type="text/javascript">
  $(".change-pass").click(function() {
    $(".form-pass").toggleClass("hide");
  })

  $(".change-first-last").click(function() {
    $(".form-first-last").toggleClass("hide");
  })
</script>

<%- include("footer.ejs") -%>
