<%- include("header.ejs") -%>
<style media="screen">
  .profile-input{
    margin-top: 15px;
    display: block;
    width: 45%;
    border-radius: 5px;
    border-width: 0px;
  }

  section {
    margin-left: 2.4%;
  }

  section button {
    margin-top: 1%;
  }

  section .dp {
    border-radius: 100%;
  }

  .black {
    color: black !important;
  }
</style>

<section>
  <h3>profile image</h3>
  <img class="dp" src="https://api.adorable.io/avatars/285/<%=user.username%>.png" alt="" width="100px" height="100px">
  <h3>Username: <%=user.username%></h3>
  <hr>
  <a href="/seewatchlist" class="btn black btn-warning">See Your Watchlist!</a>
  <hr>
  <h3>Change First and Last name: </h3>
  <form class="" action="/changeSettings" method="post">
    <input class="profile-input" type="text" name="firstName" value="<%=user.firstName%>" placeholder="new first name..">
    <input class="profile-input" type="text" name="lastName" value="<%=user.lastName%>" placeholder="new last name..">
    <button type="submit" class="btn btn-warning" name="button">Change!</button>
  </form>
  <hr>
  <h3>Change Password: </h3>
  <form class="" action="/changePassword" method="post">
    <input class="profile-input" type="password" name="newPass" placeholder="new password">
    <input class="profile-input" type="password" name="confirmed" placeholder="confirm new password">
    <button type="submit" class="btn btn-warning" name="button">Confirm! </button>
  </form>
</section>
<%- include("footer.ejs") -%>
