<%- include("header.ejs") -%>
<hr>
<style media="screen">
  img.m {
    min-width: 109px;
    min-height: 109px;
  }

  .container {
    background: #ededed;
    color: black !important;
    border-radius: 8px 8px;
  }

  /* #page-container{
    background:white;
  } */
</style>
<% for(var i=0; i<results.length; i++){ %>
<%if(('title' in results[i]) && ('image' in results[i])){ %>
<%const movieTitle = results[i].title; %>
<%const url = results[i].image.url; %>
<%var movieId = results[i].id; %>
<%movieId = movieId.slice(7,16); %>
<div class="" style="padding:0.3%;">
  <div class="container pd">

    <div class="row justify-content-center">
      <div class="col-lg-2 col-md-2 col-sm-3 col-4">
        <a href="/show/<%=movieId%>">
          <img src="<%=url%>" class="m" alt="Poster of <%=movieTitle%>">
      </div>

      <div class="col-lg-9 col-md-9 col-sm-9 col-8" style="padding:1.5%;">
        <h4><b><%= movieTitle %></b></h4>
        </a>
        <h6> <b>Year started:</b> <%=results[i].year%></h6>
        <h6> <b>Running Time (in minutes):</b> <%=results[i].runningTimeInMinutes%></h6>
        <h6> <b>Title type:</b> <%=results[i].titleType%></h6>
      </div>
    </div>
  </div>
</div>
<%}%>
<%}%>

<%- include("footer.ejs") -%>
