<%-include("header")-%>
<hr>
<style media="screen">
  img.m {
    min-width: 109px;
    min-height: 109px;
  }
  .container{
    background:#ededed;
    color:black !important;
    border-radius:8px 8px;
  }
  /* #page-container{
    background:white;
  } */
</style>
<% for(var i=0; i<watchList.length; i++){ %>
<%const movieTitle = watchList[i].title; %>
<%const url = watchList[i].url; %>
<%const movieId = watchList[i].titleId; %>
<%const ratings = watchList[i].rating; %>
<% let synopsis = watchList[i].synopsis; %>
<div class="" style="padding:0.3%;">

<div class="container pd">

  <div class="row justify-content-center">
    <div class="col-lg-2 col-md-2 col-sm-3 col-4">
      <a href="/show/<%=movieId%>">
        <img src="<%=url%>" class="m" alt="Poster of <%=movieTitle%>">
    </div>

    <div class="col-lg-9 col-md-9 col-sm-9 col-8" style="padding:1%;">
      <b>
        <h5><b><%= movieTitle %></b></h5>
      </b>
      </a>
      <p> <b>Rating:</b> <%=ratings%></p>
      <p> <b>Synopsis: </b> <%=synopsis%> </p>
      <form action="/remove" method="post">
        <input type="text" name="id" value="<%=movieId%>" style="display:none;">
        <button type="submit" name="submit" class="btn btn-warning">Remove from watch list!</button>
      </form>
    </div>

  </div>

</div>

</div>
<% } %>
<%-include("footer")-%>
