<%-include("header")-%>
<style media="screen">
  img.m {
    min-width: 109px;
    min-height: 109px;
  }
</style>
<% for(var i=0; i<watchList.length; i++){ %>

<%const movieTitle = watchList[i].title; %>
<%const url = watchList[i].url; %>
<%const movieId = watchList[i].titleId; %>
<%const ratings = watchList[i].rating; %>
<% let synopsis = watchList[i].synopsis; %>
<div class="container pd" style="position:relative;top:60px;">

  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-3 col-4">
      <a href="/show/<%=movieId%>">
        <img src="<%=url%>" class="m" alt="Poster of <%=movieTitle%>">
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-8">
      <b>
        <h5><%= movieTitle %></h5>
      </b>
      </a>
      <p> <b>Rating:</b> <%=ratings%></p>
      <p> <b>Synopsis: </b> <%=synopsis%> </p>
      <form action="/remove" method="post">
        <input type="text" name="id" value="<%=movieId%>" style="display:none;">
        <button type="submit" name="submit" class="btn btn-warning">Remove from watch list!</button>
      </form>
    </div>

  </div>

</div>

<% } %>
<hr><hr><hr>
<%-include("footer")-%>
